<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script type="text/javascript">



    $(document).ready(function () {

        $("#Category").change(function ()
        {
            $("#Product").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getproduct")',
                dataType: 'json',
                data: { id: $("#Category").val() },
                success: function (product) {

                    $.each(product, function (i, product) {
                        $("#Product").append('<option value="'
                            + product.Value + '">'
                            + product.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return false;
        })
    });
</script>

@model ProductCategoryMVC.Models.Register
<div class="form-group">
    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Category, ViewBag.category as List<SelectListItem>, new { style = "width: 200px;" })

        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Product, new SelectList(string.Empty, "Value", "Text"), "--Select Product--", new { style = "width:200px" })

        @Html.ValidationMessageFor(model => model.Product, "", new { @class = "text-danger" })
    </div>
